<div class="card-item">
  <img [src]="item.image" alt="iPhone14" class="image"/>
  <div class="name-and-price">
    <div class="desc">{{item.name}}</div>
    <div class="price">Ab {{item.price}} €</div>
  </div>
  <div class="count">
    <button (click)="add()" class="plus-minus">+</button>
    <input [value]="item.count" class="input-count" disabled type="number">
    <button (click)="sub()" class="plus-minus">-</button>
    <button (click)="del(item.id)" class="button-delete">Delete</button>
  </div>
</div>

