
main.items {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: stretch;
}

h1 {
  text-align: center;
  font-family: "American Typewriter", sans-serif;

}

.total-price {
  padding: 0.75em 0.5em;
  border: 2px solid black;
  font-size: 20px;
  font-weight: bold;
  font-family: "American Typewriter", sans-serif;
  display: flex;
  justify-content: space-between;

}

.total-price > button {
  font-size: 20px;
  font-weight: bold;
  font-family: "American Typewriter", sans-serif;
}
